
main {
    flex: auto;
  }

.page-footer{
  background-color: transparent;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

footer p {
  color: rgb(0, 0, 0);
}

/* validacion mensaje*/
.error {
  color: rgb(231, 71, 71);
  text-align: left;
  background-color: #ffe5e5;
  padding: 2px 13px;
  border:solid 2px rgb(231, 71, 71);
  border-radius: 2px;
}

/* DATOS */
.datos p {
  background-color: rgb(228, 92, 122);
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  border-radius: 5px;
}